[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
astor = "*"
attrs = "*"
backcall = "*"
bleach = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
cloudpickle = "*"
cycler = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
future = "*"
gast = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-pasta = "*"
grpcio = "*"
gym = "*"
gym-pull = "*"
h5py = "*"
idna = "*"
imageio = "*"
importlib-metadata = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
jedi = "*"
jinja2 = "*"
json5 = "*"
jsonschema = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyterlab = "*"
jupyterlab-server = "*"
keras-applications = "*"
keras-preprocessing = "*"
kiwisolver = "*"
markdown = "*"
markupsafe = "*"
matplotlib = "*"
mistune = "*"
more-itertools = "*"
nbconvert = "*"
nbformat = "*"
networkx = "*"
notebook = "*"
numpy = "*"
oauthlib = "*"
opt-einsum = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pillow = "*"
prometheus-client = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pyglet = "*"
pygments = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pywavelets = "*"
pyzmq = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
scikit-image = "*"
scipy = "*"
send2trash = "*"
six = "*"
tensorboard = "*"
tensorflow = "*"
tensorflow-estimator = "*"
termcolor = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
urllib3 = "*"
vizdoom = "*"
wcwidth = "*"
webencodings = "*"
werkzeug = "*"
wrapt = "*"
zipp = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
